nav {
  background: var(--clr-primary-11);
  width: 100%;
  padding: 1.5rem 2rem;
  color: var(--clr-white);
  top: 0;
}

.nav-center {
  max-width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-container {
  display: block;
  position: relative;
}

svg {
  font-size: 2rem;
}

.amount-container {
  position: absolute;
  top: -0.75rem;
  right: -0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--clr-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-amount {
  margin-bottom: 0;
  font-size: 1rem;
}