.search {
  margin-top: 1rem;
  padding: 5rem 0;
}

.search-form {
  width: 85vw;
  max-width: 40rem;
  margin: 0 auto;
  background: var(--clr-white);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  box-shadow: var(--light-box-shadow);
}

.search-form label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--primary);
}

.search-form input {
  width: 100%;
  border: none;
  outline: none;
  border-color: transparent;
  background: #f1f5f8;
  border-radius: var(--radius);
  padding: 1rem;
  font-size: 1.2rem;
}