.nav-container {
  padding: 1rem 2rem;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}

.nav-container .nav-header,
.nav-container .links,
.nav-container .social-icons {
  display: flex;
}

.nav-container .nav-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container .nav-header h2 {
  font-family: var(--header-font);
  letter-spacing: 0.5px;
  margin-bottom: 0;
  line-height: 3.75rem;
}

.nav-container .nav-toggle {
  color: var(--clr-gold);
  background: transparent;
  border-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-container .links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.nav-container .links {
  text-transform: capitalize;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.nav-container .links li {
  transition: var(--transition);
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 5px;
}

.nav-container .links li:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}

.nav-container .social-icons {
  display: none;
  font-size: 1.5rem;
  gap: 0.75rem;
}

.nav-container .social-icons a {
  text-decoration: none;
  color: var(--clr-gold);
  align-items: center;
}

.nav-container .nav-toggle svg,
.nav-container .social-icons a svg {
  display: grid;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .nav-container .nav-header {
    width: auto;
    justify-content: normal;
  }
  .nav-container .nav-header svg {
    display: none;
  }
  .nav-container .links-container {
    height: auto !important;
  }
  .nav-container .links {
    flex-direction: row;
  }
  .nav-container .social-icons {
    display: flex;
  }
}