.title {
  text-transform: capitalize;
}

.btn {
  background: var(--clr-primary-5);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: capitalize;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  border-color: transparent;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1.2rem;
  transition: var(--transition);
}

.btn:hover {
  background: var(--clr-primary-7);
}