.generator-container {
  max-width: 45rem;
}

.generator-container h2 {
  text-transform: uppercase;
}

.lorem-form {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.generator-container label {
  font-size: 1.25rem;
}

.generator-container input {
  padding: 0.5rem 0.75rem;
  width: 6rem;
  border-radius: var(--radius);
  border: none;
  margin: 0 0.5rem;
  font-size: 1.25rem;
  outline: none;
}

.generator-container button {
  height: 100%;
  text-transform: uppercase;
  background: var(--clr-grey-5);
  color: var(--clr-primary-1);
  padding: 0.6rem 0.75rem;
  letter-spacing: 1px;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-grey-5);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.generator-container button:hover {
  background: var(--clr-grey-7);
  border-color: var(--clr-grey-7);
}


.result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}