.about-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5rem 0;
  max-width: 40rem;
}

.section-title {
  margin-bottom: 3rem;
  text-align: center;
  text-transform: capitalize;
}

.desc-box {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.about-container p {
  line-height: 2rem;
  letter-spacing: 2px;
}